.resource {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.resource h1 {
  text-align: center;
}

.resource-Article-Button {
  box-shadow: 0 3px 10px rgba(0, 0, 1, 0.2);
  border: none;
  text-align: center;
  width: 60%;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 75px;
  margin-left: 150px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 23px;
  font-weight: 550;
  background-color: #96ace3;
  color: white;
}

.resource-Meditation-Button {
  box-shadow: 0 3px 10px rgba(0, 0, 1, 0.2);
  border: none;
  text-align: center;
  width: 60%;
  padding: 30px;
  margin-bottom: 75px;
  margin-left: 150px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 23px;
  font-weight: 550;
  background-color: #96ace3;
  color: white;
}

.resource-Journaling-Button {
  box-shadow: 0 3px 10px rgba(0, 0, 1, 0.2);
  border: none;
  text-align: center;
  width: 60%;
  padding: 30px;
  margin-bottom: 50px;
  margin-left: 150px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 23px;
  font-weight: 550;
  background-color: #96ace3;
  color: white;
}

.resource-Article button {
  transition: transform 0.2s ease-in-out;
}

.resource-Article button:hover {
  background-color: #5f81d8;
  transform: scale(
    1.1
  ); /* Adjust the scale factor as needed for the desired bounce effect */
}

.resource-Meditation button {
  transition: transform 0.2s ease-in-out;
}

.resource-Meditation button:hover {
  background-color: #5f81d8;
  transform: scale(
    1.1
  ); /* Adjust the scale factor as needed for the desired bounce effect */
}

.resource-Journaling button {
  transition: transform 0.2s ease-in-out;
}

.resource-Journaling button:hover {
  background-color: #5f81d8;
  transform: scale(
    1.1
  ); /* Adjust the scale factor as needed for the desired bounce effect */
}
