/* emotionCalendar.css or modalStyles.css */
.ReactModal__Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ReactModal__Content {
    background: #fff;
    border-radius: 8px;
    padding: 40px;
    padding-right: 70px;
    width: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  .formLabel {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
  }
  
  .formInput,
  .formTextarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
  }
  
  .formButton {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
    font-weight: 500;
  }
  
  .saveButton {
    background-color: #96ace3;
    color: white;
  }
  
  .saveButton:hover {
    background-color: #5f81d8;
  }
  
  .cancelButton {
    background-color: #f0f0f0;
    color: white;
  }
  
  .cancelButton:hover {
    background-color: lightgray;
  }
  